/*shopping tiles*/

.tiles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

.tile {
    background-color: rgb(255, 255, 255);
    color:#ffffff;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    /* text-align: center; */
    /* width: 300px; */
    /* box-shadow: 0 40px 30px rgba(0, 0, 0, 0.1); */

    /* transition: transform 0.2s, box-shadow 0.2s; */
}

.tile a {
    text-decoration: none;
    color: #333;
}

.tile img {
    width: 100%;
    /* max-width: 200px; */
    margin-bottom: 10px;
}

.tile h3 {
    margin: 0;
}

.tile p {
    margin: 10px 0;
    font-size: 14px;
    font-weight: lighter;
}

#view-product-button {
    margin: 10px;
    background-color: #8bc34a; /* Light green color */
    color: #fff; /* Text color */
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#view-product-button:hover {
    background-color: #7cb342; /* Slightly darker green color on hover */
  }

#popup-overlay {
    display: none;
    position: fixed;
    margin-top: 150px;
    top: 0;
    left: 0;
    width: 80vw;
    height: 300px;
    background-color: rgb(255, 255, 255); /* Semi-transparent black overlay */
    color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
}

#popup-content {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 80%;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

/* STRIPE INTEGRATION */

  